<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="carbon-server-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="Carbon-tools-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.carbon.integration.tests.carbontools"/>
        </packages>
    </test>

</suite>
