<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="carbon-server-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="Jira-Issues-Test" preserve-order="false" verbose="2">
        <packages>
            <package name="org.wso2.carbon.integration.jira.issues.test"/>
        </packages>
    </test>
</suite>
