grant codeBase "file:${axis2.home}/lib/-" {
    permission java.io.FilePermission "${axis2.home}", "read,write";
    permission java.io.FilePermission "${axis2.home}${file.separator}-", "read,write";
    permission java.io.FilePermission "${java.io.tmpdir}", "read";
    permission java.io.FilePermission "${java.io.tmpdir}${file.separator}-", "read,write,delete";
    permission java.io.FilePermission "${java.home}${file.separator}lib${file.separator}wsdl.properties", "read";
    permission java.net.SocketPermission "*", "resolve,connect,listen,accept";
    permission java.lang.RuntimePermission "*";
    permission java.util.PropertyPermission "*", "read";
};
