<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="APPServer-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>

    <test name="webapp-tests" preserve-order="true" parallel="false">
        <packages>
            <!--<package name="org.wso2.appserver.integration.tests.webappsampleservice"/>
            <package name="org.wso2.appserver.integration.tests.webapp.classloading"/>
            <package name="org.wso2.appserver.integration.tests.webapp.concurrency"/>
            <package name="org.wso2.appserver.integration.tests.webapp.faultywebapp"/>
            <package name="org.wso2.appserver.integration.tests.webapp.mgt"/>
            <package name="org.wso2.appserver.integration.tests.webapp.spring"/>-->
        </packages>
    </test>

    <!--<test name="module-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.deployedmoduleservice"/>
        </packages>
    </test>-->

  <!--  <test name="sample-service-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.sampleservices.*"/>
        </packages>
    </test>-->

    <!--<test name="rest-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.rest.test.poxsecurity"/>
        </packages>
    </test>-->

   <!-- <test name="carbon-app-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.carbonappservice"/>
        </packages>
    </test>-->

    <test name="services-tests" preserve-order="true" parallel="false">
        <packages>
            <!--<package name="org.wso2.appserver.integration.tests.springservice"/>
            <package name="org.wso2.appserver.integration.tests.jarservice"/>
            <package name="org.wso2.appserver.integration.tests.aarservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.commodityquoteservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.helloworldsampleservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.jaxrssampleservice"/>
            <package name="org.wso2.appserver.integration.tests.jndi"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.jsonservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.mtomservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.qualityofservice"/>-->
            <!--<package name="org.wso2.appserver.integration.tests.security"/>-->
        </packages>
    </test>

<!--
    FIXME: WSAS-1738
    <test name="wsdl2java-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.wsdl2java"/>
        </packages>
    </test>
-->

<!--
   FIXME: WSAS-1746
    <test name="jaggery-tests" preserve-order="true" parallel="false">
        <packages>
            <package name="org.wso2.appserver.integration.tests.jaggery"/>
        </packages>
    </test>
-->
</suite>
