<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Carbon-Kernel-Core_Test-Suite">
    <test name="carbon-core-unit-tests" preserve-order="true" parallel="false">
        <classes>
            <class name="org.wso2.carbon.deployment.BaseTest" />
            <class name="org.wso2.carbon.deployment.ArtifactTest" />
            <class name="org.wso2.carbon.deployment.DeployerTest" />
            <class name="org.wso2.carbon.deployment.DeploymentEngineTest" />
            <class name="org.wso2.carbon.deployment.DeploymentServiceTest" />

            <class name="org.wso2.carbon.kernel.runtime.CustomRuntimeTest" />
            <class name="org.wso2.carbon.kernel.runtime.RuntimeManagerTest" />
            <class name="org.wso2.carbon.kernel.runtime.RuntimeServiceExceptionTest" />
            <class name="org.wso2.carbon.kernel.runtime.RuntimeServiceTest" />

            <class name="org.wso2.carbon.kernel.transports.TransportManagerTest" />
            <class name="org.wso2.carbon.kernel.utils.FileUtilsTest" />
            <class name="org.wso2.carbon.internal.runtime.RuntimeManagerTest" />
        </classes>
    </test>
</suite>