<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension
         point="org.eclipse.equinox.p2.engine.actions">
      <action
            class="org.wso2.carbon.p2.touchpoint.actions.AddXMLElementAction"
            name="addXMLElement"
            touchpointType="org.eclipse.equinox.p2.osgi"
            tochpointVersion="1.0.0"
            version="1.0.0">
      </action>
   </extension>
    <extension
            point="org.eclipse.equinox.p2.engine.actions">
        <action
                class="org.wso2.carbon.p2.touchpoint.actions.RemoveXMLElement"
                name="removeXMLElement"
                touchpointType="org.eclipse.equinox.p2.osgi"
                tochpointVersion="1.0.0"
                version="1.0.0">
        </action>
    </extension>
</plugin>
