grant {
        permission java.util.PropertyPermission "basedir", "read";
        permission java.util.PropertyPermission "maven.build.dir", "read";
        permission java.lang.RuntimePermission "accessDeclaredMembers";
        permission java.lang.RuntimePermission "exitVM";
        permission java.lang.RuntimePermission "getProtectionDomain";
        permission java.lang.RuntimePermission "modifyThreadGroup";
        permission java.lang.RuntimePermission "setContextClassLoader";
        permission java.lang.RuntimePermission "setIO";        
        permission java.lang.RuntimePermission "setSecurityManager";
                
        permission java.io.FilePermission "${maven_build_dir}/classes/", "read";
        permission java.io.FilePermission "${maven_build_dir}/classes/org/apache/axis2/java/security/AccessController.class", "read";
        permission java.io.FilePermission "${maven_build_dir}/classes/org/apache/xerces/dom/CharacterDataImpl$1.class", "read";     
 
        permission java.io.FilePermission "${maven_build_dir}/test-classes/", "read";
        permission java.io.FilePermission "${maven_build_dir}/test-classes/org/apache/axis2/java/security/AccessController.class", "read";
        permission java.io.FilePermission "${maven_build_dir}/test-classes/org/apache/xerces/dom/CDATASectionImpl.class", "read";  
        permission java.io.FilePermission "${maven_build_dir}/test-classes/org/apache/xerces/dom/CharacterDataImpl$1.class", "read";
        
        
        permission java.io.FilePermission "${maven_build_dir}/test-resources/java2sec/less/LessPermission.jar", "read"; 
        permission java.io.FilePermission "${maven_build_dir}/test-resources/java2sec/more/MorePermission.jar", "read";
        
        permission java.io.FilePermission "${maven_repo_local}/-", "read";
        permission java.io.FilePermission "${maven_installed_root}/lib/-", "read";
        
        permission java.util.PropertyPermission "maven_build_dir", "read";
        permission java.util.PropertyPermission "maven_test_dest", "read";      
        
};


grant codeBase "file:${maven_build_dir}/test-resources/java2sec/more/MorePermission.jar" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/private/private.txt", "read";
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
};

grant codeBase "file:${maven_build_dir}/test-resources/java2sec/less/LessPermission.jar" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
};


grant codeBase "file:${maven_installed_root}/lib/-" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/private/private.txt", "read";
};

grant codeBase "file:${maven_build_dir}/test-classes/" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
};

grant codeBase "file:${maven_build_dir}/classes/" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/private/private.txt", "read";
};

grant codeBase "file:${maven_repo_local}/-" {
        permission java.io.FilePermission "${base_dir}/test-resources/java2sec/public/public.txt", "read";
};
